.navigation {
  padding: 0 15px;

  &__list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    &:not(lastChild) {
      padding: 6px 0;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .navigation__link {
    color: #fff;
    text-decoration: none;
  }

  .active_page {
    color: brown;
  }
}